<nav class="navbar navbar-expand-sm bg-dark navbar-dark ramji navbar-inverse ">
  <!-- Brand/logo -->
  <a href="#">logo</a>
   <img class="logo"  src="./assets/images/logo2.png">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/shop-by-categories"><a class="majja">SHOP BY</a><br/><a class="kaja">CATEGORIES</a></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/buy-again">Buy Again</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/today-deals">Today's Deals</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/customer-care">Customer Care</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/headerProducts">PRODUCTS</a>
    </li>
   </ul>
   <ul class="nav navbar-nav navbar-right" style="margin-left: 400px !important; margin-right: auto !important">
    <li><a routerLink="signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
    <li><a routerLink="login"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin">ADMIN</a>
    </li>
  </ul>

</nav>
