<div class="container-fluid bg-dark text-center text-white  p-5">
  <div class="row">
    <div class="col-3" >
        <h4>Get to Know Us</h4>
          <ul style="list-style-type: none">
            <li>About Us</li>
            <li>Careers</li>
            <li>Press Releases</li>
            <li>Amazon Cares</li>
            <li>Gift a Smile</li>
          </ul>
    </div>
    <div class="col-3">
      <h4>Connect With Us</h4>
      <ul style="list-style-type: none">
        <li>Facebook</li>
        <li>Twitter</li>
        <li>Instagram</li>
      </ul>
    </div>
    <div class="col-3">
      <h4>Make Money with Us</h4>
      <ul style="list-style-type: none">
        <li>Sell on Amazon</li>
        <li>Become an Affiliate</li>
        <li>Fulfilment by Amazon</li>
        <li>Advertise Your Products</li>
        <li>Amazon Pay on Merchants</li>
      </ul>
    </div>
    <div class="col-3">
      <h4>Let Us Help You</h4>
      <ul style="list-style-type: none">
        <li>Your Account</li>
        <li>Returns Centre</li>
        <li>100% Purchase Protection</li>
        <li>Amazon App Download</li>
        <li>Amazon Assistant Download</li>
        <li>Help</li>
      </ul>
    </div>
  </div>
</div>
<hr>

