<div class="container">
    <h1>SignUp</h1>
  <div class="row">
      <div class="col-6 form-group">
            <input type="text" placeholder="enter First name" class="form-control">
      </div>
  </div>
  <div class="row">
      <div class="col-6 form-group">
          <input type="text" placeholder="enter last name" class="form-control">
        </div>
  </div>
  <div class="row">
      <div class="col-6 form-group">
          <input type="text" placeholder="enter Email" class="form-control">
        </div>
  </div>
    <div class="row">
        <div class="col-6 form-group">
            <input type="text" placeholder="enter phone number" class="form-control">
          </div>
      </div>
      <div class="row">
          <div class="col-6 form-group">
              <input type="text" placeholder="enter password" class="form-control">
            </div>
      </div>
      <div class="row">
          <div class="col-6 form-group">
              <input type="text" placeholder="enter confirm password" class="form-control">
            </div>
      </div>
        <button class="btn btn-primary">Signup</button>
  </div>
<br/><br/><br/><br/>
